* {
  background-color: black;
  font-family: Verdana
}

#heading {
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: normal;
}

.top {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}

.guide {
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}

#desc {
  font-size: 21px;
  color: gray;
  text-align: center;
}

#copy {
  color: gray;
  text-align: right;
}
